/* FUll PROJECT:-🔴Complete Responsive Animated Website using ReactJS */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar{
  background-color: #fff !important;
}

.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}

.navbar a{
  font-size: 1.3rem ;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover{
  color: #3498db !important;
}

@media (max-width: 991px) {
  .navbar-brand{
    font-size: 1.5rem;
  }

  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}




#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name{
  color:#3498db;
}

#header h2{
  color: #484844;
  font-size: 24px;
}

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}

.header-img{
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@media (max-width: 991px) {
  #header{
    height: 80vh;
    text-align: center;
  }

  #header .header-img{
    text-align: center;
  }
  #header .header-img img {
    width: 60%;
  }
}
.contact_div{
  width: 100%;
  height: 75vh;
}

footer p{
  padding: 0;
  margin: 0 ;
}

@media (max-width: 768px) {
  #header{
    margin-top: 20px;
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 70%;
  }
}




























































/* PROJECT NO.4:- GOOGLE KEEP APP CLONE WITH REACTJS */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Mate+SC&family=Raleway&family=Roboto:wght@500&family=Source+Sans+Pro:wght@300;600&family=Squada+One&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}
.header{
  width: 100%;
  line-height: 100px;
  background-color: #f5ba13;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.3);
}
.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}
.my_notes h1{
  color: #34495e;
}
.my_notes p{
  color: grey;
}
form{
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}
input{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}
textarea{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}
.MuiButton-root{
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}
.MuiButton-root .plus_sign{
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.MuiButton-root:hover{
  background: #f4b400 !important;
}
.MuiButton-root:hover .plus_sign{
  color: #fff;
  background: transparent;
}
.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1{
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.note p{
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn{
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.deleteIcon{
  width: 0.7rem;
  height: 0.7rem;
}
.note .btn:hover{
  background-color: #f5ba13;
}
.note .btn:hover .deleteIcon{
  color: #fff;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

























































/* MINI PROJECT :- I tried to create React WebPage in just 1 MINUTE Only | React Bootstrap 4 Challenge */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #6383aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.card{
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

h1{
  color: black;
  background: transparent;
  background-color: white;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  text-shadow: 4px 3px 5px rgb(150 149 149);
  font-size: 43px;
   /* box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);   
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

.newBtn{
  width: 50px;
  height: 50px;
  background-color: #16a085 !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}
.newBtn:hover{
  color: #16a085 !important;
  background: white !important;
}

.button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #20bf6b;
}
 
ol{
  margin-top: 30px;
}

ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 1px 3px 2px 3px;
}

.todo_style .fa-times:hover{
  color: crimson;
  background-color: #f4f4f4;
}

.todo_style .fa-times:hover .list_style{
  color: crimson;
}

@media (max-width: 768px){
  .center_div{
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}   */











































/* PROJECT NO.2:- React Project using Material UI Free Code: Create ToDo List App in React*/
 /* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #6383aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1{
  color: black;
  background: transparent;
  background-color: #f4f4f4;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  text-shadow: 4px 3px 5px rgb(150 149 149);
  font-size: 43px;
   /* box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);  
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

.newBtn{
  width: 50px;
  height: 50px;
  background-color: #16a085 !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}
.newBtn:hover{
  color: #16a085 !important;
  background: white !important;
}

.button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #20bf6b;
}
 
ol{
  margin-top: 30px;
}

ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 1px 3px 2px 3px;
}

.todo_style .fa-times:hover{
  color: crimson;
  background-color: #f4f4f4;
}

.todo_style .fa-times:hover .list_style{
  color: crimson;
}

@media (max-width: 768px){
  .center_div{
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}   */













































/* CHALLENGE NO.10 NPM(Node Package Manager) in 10 Minutes with ONE MINI PROJECT
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #badc58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  background: transparent;
  font-size: 50px;
  background-color: #30336b;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
 }

button{
  min-height: 40px;
  border-radius: 5%;
  border-color: transparent;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #22a6b3;
}

.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */












































/* CHALLENGE NO.9 Incrementing and Decrementing the State Variable on Button Clicked in ReactJS */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #badc58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  background: transparent;
  font-size: 50px;
  background-color: #30336b;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
 }

button{
  min-height: 40px;
  border-radius: 5%;
  border-color: transparent;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #22a6b3;
}

.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */






































/* PROJECT NO.1 :- BUILDING A TODO LIST APP PROJECT IN REACTJS FROM SCRATCH */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #6383aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1{
  color: white;
  background: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #20bf6b;
}
 
ol{
  margin-top: 30px;
}

ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-times:hover{
  background-color: crimson;
}

.todo_style .fa-times:hover .list_style{
  color: crimson;
}

@media (max-width: 768px){
  .center_div{
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
} */





































/* CHALLENGE NO.8 Create a Digital clock using ReactJS | React Mini PROJECT   */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

div{
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button{
  padding: 15px 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
} */
 









































/* CHALLENGE NO.7 Get Time on Refreshing and Click Button using useState Hooks */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button{
  padding: 15px 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
} */















































/* CHALLENGE NO.6 SLOT MACHINE GAME IN REACTJS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.slot_inner {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
  margin-bottom: 30px;
  line-height: 49px;
  font-weight: lighter;
}
.slotmachine{
  border: 6px solid grey;
  width: 400px;
  margin: auto;
} */



























































/*CHALLENGE NO.4 | MINIPROJECT */
/* body {
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Josefin Sans", sans-serif;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

h1{
  border-radius: 20px;
  background-color: #ffe9c5;
  color: #fa9191;
  padding: 20px 20px;
} 
span{
  color: #eb6383;
} */




































/* CHALLENGE NO.3 | MINIPROJECT */
/* body {
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Josefin Sans", sans-serif;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

h1{
  border-radius: 20px;
  background-color: #ffe9c5;
  color: #fa9191;
  padding: 20px 20px;
} 
span{
  color: #eb6383;
} */
